@import url("../../colors.css");

.navWrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    gap: 0;
}

.button {
    background-color: var(--bg);
    border: 2px solid var(--text);
    color: var(--text);
    font-size: 3.5vw;
    width: 100%;
    transition: 300ms background-color ease;
}

.button:hover {
    background-color: var(--secondary-bg);
}

.button:active {
    background-color: var(--active-bg);
}