@import "../../colors.css";

.body {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px 16px;
    position: relative;
    overflow: hidden;
    cursor: default;
}

.content {
    display: flex;
    align-items: center;
    gap: 15px;
    position: relative;
    z-index: 1;
}

.avatar {
    display: grid;
    place-items: center;
    width: 4vw;
    height: 4vw;
    border-radius: 50%;
    background: var(--bg);
    color: var(--text);
    font-size: 2vw;
    font-weight: 600;
    text-transform: uppercase;
}

.name {
    font-size: 2vw;
    font-weight: 600;
    color: var(--text);
}