@import url("../../colors.css");

.body {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--third-bg);
    width: 100%;
    height: auto;
}

.left {
    display: flex;
    align-items: center;
    padding: 10px 12px;
}

.circle {
    width: 3vw;
    height: 3vw;
    border-radius: 50%;
    object-fit: cover;
    background-color: #fafafa;
}

.right {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex: 1;
    gap: 12px;
    padding: 6px 8px;
}

.naming {
    position: relative;
    display: flex;
    align-items: center;
    gap: 0.5vw;
}

.onlineCircle {
    position: absolute;
    bottom: -0.3vw;
    right: -0.3vw;
    background-color: #7aff45;
    width: 1.2vw;
    height: 1.2vw;
    border-radius: 50%;
}

.right span {
    font-size: 3vw;
    cursor: default;
    padding: 0 12px;
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 0.05);
}

.icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 4vw;
    width: 100%;
    gap: 12px;
    color: #858585;
}

.icon {
    border-radius: 50%;
    border: 2px solid var(--border);
    padding: 5px;
    transition: background-color 300ms ease;
}

.icon:hover {
    background-color: var(--hover-bg);
    cursor: pointer;
}