@import url('../../colors.css');

.titlebar {
    width: 100%;
    height: var(--title-bar-size);
    background-color: var(--secondary-bg);
    border-bottom: 4px solid var(--border);
    color: var(--text);
    display: flex;
    align-items: center;
    justify-content: space-between;
    -webkit-app-region: drag;
    user-select: none;
    z-index: 1000;
}

.titleWrapper {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-left: 8px;
}

.titleImage {
    width: 22px;
    height: 22px;
    border-radius: 12px;
}

.title {
    margin-left: 8px;
    font-size: 18px;
    font-weight: 700;
    -webkit-app-region: drag;
}

.windowButtons {
    display: flex;
    height: 100%;
    -webkit-app-region: no-drag;
}

.windowButtons button {
    width: 46px;
    height: 100%;
    background: none;
    border: none;
    color: var(--quite-text);
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.2s ease, color 0.2s ease;
}

.windowButtons button:hover {
    background-color: #222;
    color: var(--text);
}

.windowButtons button:last-child:hover {
    background-color: #7d0000;
    color: var(--text);
}