@import "../../colors.css";

.body {
    background-color: var(--bg);
    color: var(--text);
    height: calc(100vh - var(--title-bar-size));
    width: 100vw;
    padding: 0;

    font-size: 4vw;
    font-weight: 400;

    display: flex;
    flex-direction: row;
    gap: 10px;
}

.upButtonWrapper {
    display: flex;
    flex-direction: column;
}

.friendsWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    max-height: 80px;
    overflow: hidden;
}

.friends {
    width: 100%;
    height: 100%;
    max-height: 80px;
    font-size: 2.5vw;
}

.quitWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    max-height: 40px;
    overflow: hidden;
}

.quitButton {
    width: 90%;
    height: 100%;
    max-height: 40px;
    font-size: 2vw;
}

.userButtons {
    margin-left: auto;
    width: auto;
    align-items: center;

    display: flex;
    flex-direction: row;
    gap: 20px;
}

.iconButton {
    color: var(--icons);
    width: 2.5vw;
    height: 2.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 300ms ease, color 1s ease;
}

.iconButton:active {
    color: var(--icons-active);
}

.iconButton:hover {
    color: var(--icons-hover);
    transform: scale(1.1);
}

.userInfo {
    width: 100%;
    margin-bottom: 10px;
    padding: 0 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 2.5vw;
}

.contentWrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.nothing {
    font-size: 2.5vw;
}

.divider {
    width: 6px;
    background-color: var(--border);
}

.mainWrapper {
    flex: 1;
    flex-direction: row;
    display: flex;
}

.nav {
    background-color: var(--secondary-bg);
    width: 40%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.usersWrapper {
    flex: 1;
    width: 100%;
    overflow-y: auto;
    scroll-behavior: smooth;
}

.usersWrapper::-webkit-scrollbar {
    transition: all 1s ease;
    width: 8px;
}

.usersWrapper::-webkit-scrollbar-track {
    background: var(--bg);
    border-radius: 8px;
    margin: 0;
}

.usersWrapper::-webkit-scrollbar-thumb {
    background: var(--secondary-bg);
    border-radius: 8px;
    border: 2px solid var(--secondary-bg);
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.usersWrapper::-webkit-scrollbar-thumb:hover {
    background: var(--third-bg);
}

.usersWrapper::-webkit-scrollbar-button {
    display: none;
}
.usersWrapper::-webkit-scrollbar-corner {
    background: transparent;
}

.downWrapper {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
}

.content {
    background-color: var(--secondary-bg);
    width: 100%;

    display: flex;
    flex-direction: column;
    padding: 10px 0 0 0;
    align-items: center;
    gap: 20px;

    box-sizing: border-box;
}

.dialogsSpan {
    font-size: 2vw;
    font-weight: 700;
    padding-left: 16px;
    margin: 0;
    color: var(--quite-text);
}